* {margin:0; padding:0; box-sizing:border-box;}
body {
	background-image: url(../images/carlyeboot.jpg);
	background-size:cover;
	background-attachment:fixed;
	color: #FF5549;
	font-family: 'Lato', sans-serif;
	
}

section.maincontent {
	background-color:rgba(243,84,73,.5);
	color:#FFC2AA;
	margin: 150px 0 0 0;
	padding:3em  ;
	line-height:2em;
}
section.maincontent div {
	margin:0 auto;
	width:75em;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size:4em;
	text-align:center;

}
h2 {
	font-family: 'Lato', sans-serif;
	text-align:left;
}
p.slogan {
	font-family: 'Playfair Display', serif;
	font-size:2em;
	text-align:right;
	margin-right:5em;
	
}
ul {
	padding:2em;
}
p.contact {
	padding:1em;
	font-style:bold;
	font-size:1.5em;
	font-family: 'Playfair Display', serif;
}
a {
	color: #142924;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
