* {margin:0; padding:0; border-box: box-sizing;}*
body {
	background-image: url(../images/carlyeboot.jpg);
	background-size:cover;
	color: #FF5549;
	text-align:center;
	font-family: Palatino, Big Caslon, Georgia;
	font-size:25 px;
	line-height:2;
}
.maincontent {
	color:red;
	width: 200 px;
	border:10 px solid #99c;
	border: 10 px;
	padding: 20 px;
	margin: 20 px;
	height: 400 px;
	background-color:(255,137,86,);
}

#contact {
	color: #00675A;
}
hr {
	size: 12 px;
}