* {margin:0; padding:0; box-sizing:border-box;}


body {
	background-image:url(../images/carlye_typewriter.jpg);
	background-repeat:none;
	background-attachment:fixed;
	background-size:cover;
	}
header {
	margin-top: .5em;
	color:black;
}
header img {
	float:left;
	margin:2em;
	width:16em;
	height:8em;
	
}
.navbar {
	float:right;
	list-style:none;
	padding:1em;
	margin:1em;
	background-color:#FF5749;
}
.navbar a{
	padding:1em;
	font-family:'Lato', sans-serif;
	color: #696969;
	text-decoration:none;
	font-size:1.5em;
}
.navbar a:hover {
	color: #FF5749;
}

	
}
#wrapper {
	margin:0 auto;
	max-width:1200px;

}
.maincontent p {
	clear:both;
	width:65%;
	padding:1em;
	float:left;
	margin:0;
	text-align:left;
}

p {
	font-family: 'Lato', sans-serif;
	font-size: 2.5em;
	line-height:1.25em;
	color:#696969;
	margin-top: 2em;
	
}
span {
	color:#FF5749;
	font-family:'Lato', sans-serif;
	letter-spacing:.05em;

}
footer {
	clear:both;
	font-family: 'Lato', sans-serif;
	color: #696969;
	text-decoration:none; 
	font-size:2em;
	margin-left:1.5em;
}
footer a{
	color:#696969;
	text-decoration: none;
	font-family:'Lato', sans-serif;
	color:#FF5749;
}







