* {margin:0; padding:0; box-sizing:border-box;}
body{
	color:rgb(255,145,52);
}
#pagetop {
	margin:2em;
}
#title {
	float:left;
}
h1{
	font-family: 'Shadows Into Light', cursive;
	font-size:3em;
	letter-spacing:.2em;
}
h2{
	font-family: 'Shadows Into Light', cursive;
	font-size:2em;
	letter-spacing:.2em;
}
#nav ul {
	float:right;
	list-style:none;
}
#nav li {
	display:inline;
	font-family: 'Shadows Into Light', cursive;
	font-size:1.5em;

}
#column1 {
	display:block;
	float:left;
	width:350px;
	font-family: 'Roboto', sans-serif;
	padding:2em;
	line-height:1.5em;
	
}

#image {
	display:block;
	float:right;
	margin-top:100px;

}
span {
	color:rgb(0,120,143);
	font-family: 'Shadows Into Light', cursive;
	font-size:1.5em;
	
}


